*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-12-04-group3hw.md
_posts/2022-11-28-Unit_3.8_3.10.md
_posts/2022-11-30-group3lesson.md
_posts/2022-11-28-group4lesson.md
_posts/2022-11-30-FirstWeekStudentLessons.md
_posts/2022-11-26-group1lesson.md
_posts/2022-11-20-group2lesson.md
_posts/2022-11-30-LESSONPLAN.md
_posts/2022-12-06-SecondWeekStudentLessons.md
_posts/2022-12-05-group4hw.md
_posts/2022-12-05-group4hw.md
_posts/2022-12-02-unit3-9-11.md
_posts/2022-12-02-group5lesson.md
_posts/2022-11-28-studentlessons.md
_posts/2022-11-28-studentlessons.md
_posts/2022-11-28-studentlessons.md
_posts/2022-12-05-group4hw.md
_posts/2022-11-28-studentlessons.md
_posts/2022-12-05-group4hw.md
_posts/2022-11-28-studentlessons.md
_posts/2022-12-05-group4hw.md
_posts/2022-11-29-group1hw.md
_posts/2022-11-29-group2hw.md
_posts/2022-11-20-Lesson-presentation.md
_posts/2022-11-26-LessonPlanNB.md
_posts/2022-11-28-studentlessons.md
_posts/2022-12-08-group5hw.md
_posts/2022-12-12-group7hw.md
_posts/2022-12-04-group6lesson.md
_posts/2022-12-08-group6hw.md
_posts/2022-12-11-group7lesson.md
_posts/2020-02-20-test.md
_posts/2022-08-27-AlexaJupyterNotebook.md
_posts/2022-08-28-myquiz.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-09-05-TT130-js_tutorial.md
_posts/2022-09-14-BashBlog.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-10-spelling.md
_posts/2022-10-20-myquiz.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2022-11-28-group9lesson.md
_posts/2022-11-30-SimulationStudentLesson.md
_posts/2022-12-12-ThirdWeekStudentLessons.md
_posts/2022-12-14-group9hw.md
_posts/2023-01-11-OOPhack.md
_posts/2023-01-12-PBL-view.md